
@{
    ViewBag.Title = "Inventory Home";
}

<h2 style="text-align:center;">@ViewBag.Title</h2>
<div class="row">
    @using (Html.BeginForm("Index", "Inventory"))
    {
        <div class="form-group" style="padding-top:10px;text-align:center;">
                <input type="submit" value="Go to Inventory" class="btn btn-default" />
        </div>
    }
    @using (Html.BeginForm("Index", "category"))
    {
        <div class="form-group" style="text-align:center;">
                <input type="submit" value="Go to Categories" class="btn btn-default" />
        </div>
    }
    @using (Html.BeginForm("Index", "productType"))
    {
        <div class="form-group" style="text-align:center;">
                <input type="submit" value="Go to Product Types" class="btn btn-default" />     
        </div>
    }
</div>